@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style: none;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
    height:60px;
    background-color: black;
    /* box-shadow:2px 2px 12px rgba(0,0,0,0.2); */
    padding:0px 5%;
    position: sticky;
    top: 0;
}

nav ul{
    display: flex;
    padding-top: .8em;
}

ul li button {
    font-size: inherit;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: white;
    width: 100%;
}

.dropdown {
    padding: 2px 1.5rem;
    height: 0;
    overflow: hidden;
    transition: height ease 0.2s;
    margin-top: 1.2rem;
    display: block;
    position: absolute;
  }

.dropdown a {
    color: black;
}

.arrow {
    margin-left: .2em;
    display: inline-block;
    transition: transform 100ms ease-in-out;
}

ul li .a {
    display: block;
    padding: .5rem;
    margin-top: .2em;
    font-family: 'Poppins';
    transition: background-color ease .5s;
}

ul li .a:hover {
    background-color: rgb(226, 226, 226);
}

ul li .a:hover {
    color: black;
}

@media (min-width: 640px) {
    .dropdown {
        position: absolute;
        right: 3rem;
        left: auto;
        box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
        0 4px 6px -2px rgba(71, 63, 79, 0.16);
        /* z-index: 99; */
        min-width: 10rem;
        padding: 0;
        background-color: #fff;
        border-radius: 0 0 0.5rem 0.5rem; 
      }
    
      ul li:hover .dropdown {
          height: 100px;
      }

      ul li:hover > button > .arrow {
         transform: rotate(180deg);
      }
    }

nav ul li .b{
    font-family: 'Oswald';
    color: rgb(239, 239, 239);
    font-size: 16px;
    font-weight:bold;
}

nav ul .bb{ 
    margin:40px;
}

nav ul li a:hover {
    color: white;
}

.logo{
    font-family:'Lobster';
    color:rgb(239, 239, 239);
    font-size: 22px;
    font-weight: bold;
    transform: rotate(-360deg);
    transition-duration: 1000ms;
}

.logo:hover {
    transform: rotate(360deg);
    transition-duration: 1000ms;
    color: white;
}

.wrapper {
    width: 100%;
    height: 100%;
    z-index: -99;
    position: absolute;
    display: flex;
}

.column1 {
    width: 70%;
    position: absolute;
    box-sizing: border-box;
    border-right: 1px solid rgb(211, 211, 211);
}

.box {
    margin: auto;
    width: 60vw;
    height: 100%;
}

.categories {
    /* width: 42vw; */
    overflow: auto;
    height: 4em;
    border-bottom: 1px solid rgb(199, 199, 199);
    display: flex;
    position: sticky;
    background-color: white;
    top: 0;
    margin-top: 3em;
}

.categories button {
    padding: .1em;
    text-justify: auto;
    margin-right: 2em;
    font-size: .9em;
    background-color: transparent;
    border: none;
    color: rgb(131, 127, 127);
}

.categories button:hover {
    color: black;
}

.items {
    margin-top: 2em;
    height: 18em;
    display: flex;
    border-bottom: 1px solid rgb(225, 225, 225);
}

.pictArt {
    margin: 2em 1em 1em 6em;
    width: 8em;
    height: 8em;
    background-image: url(download.png);
    background-size: cover;
    background-position: center;
}

.profile {
    display: flex;
    margin: auto;
}

.name {
    margin-left: 0.5em;
}

.img {
    width: 24px;
    height: 24px;
    overflow: hidden;
    border-radius: 50%;
    /* margin-top: .1em; */
}

.img img {
    width: 100%;
    height: auto;
}

.date {
    margin-left: .5em;
}

.articles {
    width: 42vw;
    margin-top: 1em;
}

.content {
    width: 100%;
}

.content p {
    font-family: 'Poppins';
    font-size: .9em;
}

.bottom {
    margin-top: 4em;
    display: flex;
    width: 42vw;
    justify-content: space-between;
}

.button button {
    font-size: .92em;
    border: none;
    width: 4em;
    padding: .2em;
    border-radius: 13px;
}

.attributes .a {
    margin-right: 1em;
    cursor: pointer;
}

.column2 {
    position: absolute;
    width: 30%;
    left: 70%;
}

.button-left {
    margin: 2.7em 2.7em 2.7em 2em;
}

.button-left button {
    width: 25em;
    font-weight: bold;
    border: none;
    background-color: rgb(18, 18, 18);
    color: white;
    padding: .5em;
    border-radius: 2em;
}

.button-left button:hover {
    background-color: black;;
}

.review {
    width: 25em;
    padding-bottom: 2em;
    border-bottom: 1px solid rgb(189, 189, 189);
}

.topicRev {
    margin-top: 1em;
}

h6 {
    font-weight: bold;
}

.profRev {
    display: flex;
}

.imgRev {
    width: 22px;
    height: 22px;
    overflow: hidden;
    border-radius: 50%;
    /* margin-top: .1em; */
}

.imgRev img {
    width: 100%;
    height: auto;
}

.nameRev {
    margin-left: .5em;
}

.titleRev {
    margin-top: .5em;
}

.recom {
    margin-top: 2em;
    width: 25em;
}

.wr {
    margin-left: 2em;
}

.buttonRec button {
    margin-top: 1em;
    margin-right: .5em;
    font-size: .89em;
    padding: .8em;
    background-color: rgb(242, 242, 242);
    border: none;
    border-radius: 5em;
}

.buttonRec button:hover {
    background-color: rgb(206, 206, 206);
}

.follow {
    margin-top: 2em;
    width: 25em;
}

.profFoll {
    display: flex;
    margin-top: 1em;
}

.imgFoll {
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 50%;
    /* margin-top: .1em; */
}

.imgFoll img {
    width: 100%;
    height: auto;
}

.buttonFoll {
    margin: .8em .8em .8em 1.5em;
}

.buttonFoll button {
    width: 5.5em;
    background-color: transparent;
    border: 1px solid rgb(165, 165, 165);
    font-size: .88em;
    padding: .4em;
    border-radius: 5em;
}

.buttonFoll button:hover {
    border: 1px solid black;
}

/* Responsive */

@media only screen and (max-width: 1366px) {
    .column1 {
        width: 70vw;
    }

    /* .column2 {
        width: 20vw;
    } */

    .button-left {
        margin-left: 3em;
    }

    .button-left button {
        width: 20em;
    }

    .wr {
        margin-left: 3em;
    }

    .review {
        width: 20em;
        margin-left: 0;
    }

    .recom {
        width: 20em;
    }

    .follow {
        width: 20em;
        margin-top: 3em;
    }

    .headerFoll {
        margin-bottom: 2em;
    }

    .categories {
        overflow: auto;
    }

    .categories button {
        /* width: 10em; */
        padding: .5em;
        /* background-color: red; */
        margin-right: 2em;
        font-size: .8em;
    }

    .bottom {
        margin-top: 2.5em;
    }
}   