@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.nav {
    position: fixed;
}

.navbar-brand {
    font-family: 'Lobster';
    font-weight: bold;
}

.wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
}

.column1 {
    width: 70vw;
    height: 100%;
    box-sizing: border-box;
    border-right: 1px solid rgb(211, 211, 211);
}

.box {
    margin: auto;
    width: 60vw;
    height: 100%;
}

.items {
    margin-top: 5em;
    height: 18em;
    display: flex;
    border-bottom: 1px solid rgb(225, 225, 225);
}

.pictArt {
    margin: 2em 1em 1em 3em;
    width: 8em;
    height: 8em;
    background-image: url(download.png);
    background-size: cover;
    background-position: center;
}

.profile {
    display: flex;
    margin: auto;
}

.name {
    margin-left: 0.5em;
}

.img {
    width: 24px;
    height: 24px;
    overflow: hidden;
    border-radius: 50%;
    /* margin-top: .1em; */
}

.img img {
    width: 100%;
    height: auto;
}

.date {
    margin-left: .5em;
}

.articles {
    width: 42vw;
    margin-top: .5em;
}

.content {
    width: 100%;
}

.content p {
    font-family: 'Merriweather';
    font-size: .9em;
}

.bottom {
    margin-top: 4em;
    display: flex;
    width: 42vw;
    justify-content: space-between;
}

.button button {
    font-size: .8em;
    border: none;
    width: 4em;
    padding: .2em;
    border-radius: 13px;
}

.attributes .a {
    margin-right: 1em;
}

.save {
    background: url('https://api.iconify.design/material-symbols/bookmark-add-outline.svg') no-repeat center center;
}

.column2 {
    width: 30vw;
    height: 100%;
}